In [2]:
import pandas as pd
import numpy as np

from modules.data_analysis.data_statistics import compute_descriptive_statistics
from modules.data_loading_to_dataFrame.load_from_static import load_from_csv
from settings import settings

In [3]:
data = load_from_csv(settings.TEST_DATASETS_PATH+"diabetes.csv")
data.head()

Load CSV file from path: ~/Documents/SOURCE_PATH/datasets/diabetes.csv

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [5]:
compute_descriptive_statistics(data, include_all=True)

{'Diabetes_012': {'count': 253680,
  'mean': 0.29692131819615264,
  'std': 0.6981597284091015,
  'min': 0.0,
  'max': 2.0,
  'percentiles': {'25%': 0.0, '50%': 0.0, '75%': 0.0},
  'mode': [0.0]},
 'HighBP': {'count': 253680,
  'mean': 0.4290011037527594,
  'std': 0.4949344626899013,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 0.0, '50%': 0.0, '75%': 1.0},
  'mode': [0.0]},
 'HighChol': {'count': 253680,
  'mean': 0.4241209397666351,
  'std': 0.49420980465688485,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 0.0, '50%': 0.0, '75%': 1.0},
  'mode': [0.0]},
 'CholCheck': {'count': 253680,
  'mean': 0.9626695048880479,
  'std': 0.1895707543627255,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 1.0, '50%': 1.0, '75%': 1.0},
  'mode': [1.0]},
 'BMI': {'count': 253680,
  'mean': 28.382363607694735,
  'std': 6.608694201406008,
  'min': 12.0,
  'max': 98.0,
  'percentiles': {'25%': 24.0, '50%': 27.0, '75%': 31.0},
  'mode': [27.0]},
 'Smoker': {'count': 253680,
  'mean': 0.44316855881425415,
  'std': 0.49676066677856323,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 0.0, '50%': 0.0, '75%': 1.0},
  'mode': [0.0]},
 'Stroke': {'count': 253680,
  'mean': 0.04057079785556607,
  'std': 0.19729409940016232,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 0.0, '50%': 0.0, '75%': 0.0},
  'mode': [0.0]},
 'HeartDiseaseorAttack': {'count': 253680,
  'mean': 0.09418558814254178,
  'std': 0.29208731475075544,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 0.0, '50%': 0.0, '75%': 0.0},
  'mode': [0.0]},
 'PhysActivity': {'count': 253680,
  'mean': 0.7565436770734784,
  'std': 0.42916904339704554,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 1.0, '50%': 1.0, '75%': 1.0},
  'mode': [1.0]},
 'Fruits': {'count': 253680,
  'mean': 0.6342557552822453,
  'std': 0.48163918717043347,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 0.0, '50%': 1.0, '75%': 1.0},
  'mode': [1.0]},
 'Veggies': {'count': 253680,
  'mean': 0.811419899085462,
  'std': 0.3911754716844908,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 1.0, '50%': 1.0, '75%': 1.0},
  'mode': [1.0]},
 'HvyAlcoholConsump': {'count': 253680,
  'mean': 0.05619678334910123,
  'std': 0.2303017888952292,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 0.0, '50%': 0.0, '75%': 0.0},
  'mode': [0.0]},
 'AnyHealthcare': {'count': 253680,
  'mean': 0.9510525070955534,
  'std': 0.2157587063107391,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 1.0, '50%': 1.0, '75%': 1.0},
  'mode': [1.0]},
 'NoDocbcCost': {'count': 253680,
  'mean': 0.08417691579943236,
  'std': 0.277653500857625,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 0.0, '50%': 0.0, '75%': 0.0},
  'mode': [0.0]},
 'GenHlth': {'count': 253680,
  'mean': 2.5113923052664773,
  'std': 1.0684773622803934,
  'min': 1.0,
  'max': 5.0,
  'percentiles': {'25%': 2.0, '50%': 2.0, '75%': 3.0},
  'mode': [2.0]},
 'MentHlth': {'count': 253680,
  'mean': 3.1847721538946705,
  'std': 7.412846696196173,
  'min': 0.0,
  'max': 30.0,
  'percentiles': {'25%': 0.0, '50%': 0.0, '75%': 2.0},
  'mode': [0.0]},
 'PhysHlth': {'count': 253680,
  'mean': 4.2420805739514345,
  'std': 8.717951307175127,
  'min': 0.0,
  'max': 30.0,
  'percentiles': {'25%': 0.0, '50%': 0.0, '75%': 3.0},
  'mode': [0.0]},
 'DiffWalk': {'count': 253680,
  'mean': 0.16822374645222327,
  'std': 0.374065594732803,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 0.0, '50%': 0.0, '75%': 0.0},
  'mode': [0.0]},
 'Sex': {'count': 253680,
  'mean': 0.4403421633554084,
  'std': 0.4964291631185051,
  'min': 0.0,
  'max': 1.0,
  'percentiles': {'25%': 0.0, '50%': 0.0, '75%': 1.0},
  'mode': [0.0]},
 'Age': {'count': 253680,
  'mean': 8.032119205298013,
  'std': 3.0542204341684838,
  'min': 1.0,
  'max': 13.0,
  'percentiles': {'25%': 6.0, '50%': 8.0, '75%': 10.0},
  'mode': [9.0]},
 'Education': {'count': 253680,
  'mean': 5.050433617155472,
  'std': 0.9857741757276509,
  'min': 1.0,
  'max': 6.0,
  'percentiles': {'25%': 4.0, '50%': 5.0, '75%': 6.0},
  'mode': [6.0]},
 'Income': {'count': 253680,
  'mean': 6.053874960580258,
  'std': 2.0711475662715184,
  'min': 1.0,
  'max': 8.0,
  'percentiles': {'25%': 5.0, '50%': 7.0, '75%': 8.0},
  'mode': [8.0]}}

In [6]:
from modules.data_loading_to_dataFrame\
    .load_from_api import load_from_kaggle

df = load_from_kaggle(
        dataset_id="mohammadtalib786/retail-sales-dataset",
        filename="retail_sales_dataset.csv")

df.head()

INFO:modules.data_loading_to_dataFrame.load_from_api:Загрузка датасета с Kaggle: mohammadtalib786/retail-sales-dataset

Downloading from https://www.kaggle.com/api/v1/datasets/download/mohammadtalib786/retail-sales-dataset?dataset_version_number=1&file_name=retail_sales_dataset.csv...

100%|██████████| 50.5k/50.5k [00:00<00:00, 1.44MB/s]

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [7]:
data.describe()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,...,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000,253680.000000
mean,0.296921,0.429001,0.424121,0.962670,28.382364,0.443169,0.040571,0.094186,0.756544,0.634256,...,0.951053,0.084177,2.511392,3.184772,4.242081,0.168224,0.440342,8.032119,5.050434,6.053875
std,0.698160,0.494934,0.494210,0.189571,6.608694,0.496761,0.197294,0.292087,0.429169,0.481639,...,0.215759,0.277654,1.068477,7.412847,8.717951,0.374066,0.496429,3.054220,0.985774,2.071148
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,2.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000